// logo colors (1) #2D8CDE (2) #4CB2F4 (3) #6759AE

$nshPrimary:#7ac4e9;
$nshToggle:#222221;
$nshWhite:#fff;
$nshBorderBottom:#F2F2F2;
$nshBlack:#000;
$nshText:#707070;
$nshGray:#dbdbdb;
$breadcrumb:rgba(34,34,33,.5);
$nshform:#f1fbfe;
$inputbg:#EEEEEE;